<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js" type="text/javascript"></script> -->
<div class="form-title">
    <p>Create Product</p><a class="cancel-button" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div>
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-3 no-padding">
            <div class="img-container">
                <img src="http://placehold.it/128x128" alt="" />
            </div>
        </div>
        <div class="col-md-9">
            <label class="control-label">Upload a thumbnail photo</label>
            <input type="file" id="Photo" name="upload" value="Browse" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Product Name</label>
        <div class="col-md-9">
            <input type="text" name="ProductName" class="form-control k-textbox" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Unit Price</label>
        <div class="col-md-9">
            <input type="text" name="RegularPrice" class="form-control k-textbox" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Description</label>
        <div class="col-md-9">
            <textarea class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">SKU #</label>
        <div class="col-md-9">
            <input type="text" name="SKUno" class="form-control k-textbox">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Sage Part #</label>
        <div class="col-md-9">
            <input type="text" name="SagePartno" class="form-control k-textbox">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">On Sale
        </label>
        <div class="col-md-9">
            <input type="checkbox" name="checkbox">
            <label class="control-label">From: </label>
            <input type="text" class="datepicker" placeholder="mm/dd/yy"><i class="fa fa-calendar" aria-hidden="true"></i>
            <label class="control-label">To: </label>
            <input type="text" class="datepicker" placeholder="mm/dd/yy"><i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Discount %</label>
        <div class="col-md-9">
            <input class="form-control" name="Discount">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Datasheet</label>
        <div class="col-md-9">
            <input type="file" id="Datasheet" name="uploadDatasheet" value="Browse" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-right">
            <input type="button" value="Cancel" class="btn cancel-button" />
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
<script type="text/javascript">
$(".cancel-button").on("click", function(e) {
    e.preventDefault();
    // $(this).dialog('close');
    console.log($('this').parent())
    $(this).closest('#new-dialog').css({
        display: 'none'
         });
});
$('.datepicker').datepicker();
</script>
