/* CSS Document */


/* Import here reusable tools for saas */

@import "_mixin.mediaqueries";
@import "_mixin.toolbox";

/* ==========================================================================

	1. SETTINGS			
			
   ========================================================================== */


/* Variables */


/* Media Queries Sizes */

$xsm: 320px; // ex. iphone 5/5s / Galaxy s3
$sm: 575px; // ex. iphone 6/6s  / Galaxy s5
$xmd: 768px; // ex. ipad2 portrait
$md: 992px;
$lg: 1024px; // ex. ipad2 landscape
$xlg: 1280px; // ex. Surface / Desktop
$xxlg: 1440px; // ex. Desktop

/* Base Accent Colors */

$colorWhite: #fff;
$colorBlack: #000;
$colorLightGrey1: #f4f4f4;
$colorLightGrey2: #e5e5e5;
$colorLightGrey3: #dbd8cf;
$colorLightGrey4: #878686;
$colorLightGrey5: #959595;
$colorLightGrey6: #c2c2c2;
$colorDarkGrey: #333;
$colorGreen: #00aa66;
$colorLightGreen: #07bd74;
$colorDarkGreen: #00492c;
$colorOrange: #ff7441;
$colorLightOrange: #ff6927;
$colorRedOrange: #d55441;
$colorRed1: #970f0f;
$colorRed2: #eb2020;

/* Font Family */

$font-rw:'Raleway',
sans-serif;
$font-os:'Open Sans',
sans-serif;
$font-icon:'FontAwesome';

$font-gr:'Georgia',
sans-serif;

$font-ll:'Lato Light', 
sans-serif;

$font-li:'Lato Light Italic', 
sans-serif;

/* Extended Classes */

.nowrap {
    white-space: pre-wrap;
    /* CSS 3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.clear {
    content: '';
    display: table;
    clear: both;
    float: none;
}

.nopadding {
	padding: 0 !important;
}


/* Accessibility */

.accessibility {
    position: absolute;
    top: auto;
    left: -10000px;
    overflow: hidden;
    width: 0;
    height: 0;
    &:focus {
        position: static;
        width: auto;
        height: auto;
    }
}


/* ==========================================================================

	2. BASE STYLES
			
   ========================================================================== */


/* Target IE11 and up */

_:-ms-fullscreen,
:root {
    /* insert rule here */
}


/* Typography */

a {
    outline: none;
    border: none;
    text-decoration: none;
    @include transition(color .5s);
    color: $colorGreen;
    &:hover,
    &:focus {
        outline: none;
        border: none;
        text-decoration: none;
    }
    &:focus {
        color: inherit;
    }
    &:hover {
        color: $colorLightGrey6;
    }
}

strong,
b {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
p,
hr {
    margin-top: 0;
    font-weight: normal;
}

p {
    margin-bottom: 1.875rem;
    font-family: $font-gr;
}

h1 {
    @include font-size(30px);
    font-family: $font-ll;
    color: $colorRed1;
    margin-bottom: 15px;
}

h2 {
    @include font-size(24px);
    line-height: 130%;
    margin-bottom: 25px;
}

h3 {
    @include font-size(18px);
    text-transform: uppercase;
    color: $colorDarkGreen;
    font-weight: 700;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.125rem;
}

hr {
    border-top: 3px solid $colorLightGrey2;
    margin: 2.4em 0;
}


/* Text settings */

.text-upcase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


/* Display settings */

.disp-ib {
    display: inline-block;
}

.disp-il {
    display: inline;
}

.disp-bl {
    display: block;
}


/* Blockquote */

blockquote {
    position: relative;
    font-weight: 400;
    @include font-size(30px);
    border: none!important;
    line-height: 130%;
    text-align: left;
    padding: 0 30px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background: $colorRed2;
    }
    &.pull-left {
        text-align: right;
        margin-right: 40px;
        margin-bottom: 30px;
        padding-left: 0;
        &:before {
            left: auto;
            right: 0;
        }
    }
    &.pull-right {
        text-align: left;
        padding: 0 30px;
        margin-left: 40px;
        margin-bottom: 30px;
        padding-right: 0;
    }
    @include max-screen($xlg) {
        @include font-size(26px);
    }
    @include max-screen($lg) {
        @include font-size(24px);
        &.pull-left {
            margin-right: 0;
        }
        &.pull-right {
            margin-left: 0;
        }
    }
    @include max-screen($xmd) {
        @include font-size(20px);
    }
}


/* Unordered List */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.list {
    position: relative;
    margin-bottom: 40px;
    li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 15px;
        &:before {
            content: '\f00c';
            font-family: $font-icon;
            position: absolute;
            top: 2px;
            left: 0;
            color: $colorGreen;
            @include font-size(12px);
        }
        ul {
            padding-left: 10px;
            margin-top: 20px;
            li {
                &:before {
                    content: '\f10c';
                    top: 0;
                    @include font-size(10px);
                    color: $colorLightGrey5;
                }
            }
            ul {
                li {
                    &:before {
                        content: '\f111';
                        @include font-size(6px);
                        color: $colorRedOrange;
                    }
                }
            }
        }
    }
}

img.lazy {
    @include opacity(0);
    @include transition(opacity 1s);
    &.loaded {
        @include opacity(1);
    }
}

img[data-src] {
    visibility: hidden;
    width:100%;
    @include opacity(0);
    @include transition(all 1s);
}

img[src] {
    @include transition(all 1s);
    @include opacity(1);
    visibility: visible;
}


/* Forms */

form {
    margin-bottom: 40px;
    .row {
        margin: 0 -10px;
        >[class*="col-"] {
            padding: 0 10px;
        }
    }
}


/* Input Reset */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="submit"],
input[type="file"],
textarea,
select,
button {
    font-family: $font-rw;
    border-radius: 0;
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 14.5px;
    line-height: 120%;
    margin-bottom: 10px;
}


/* Input Focus Reset */

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="submit"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
    @include transition(all 0.6s);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="file"],
textarea,
select {
    background: $colorLightGrey2;
    @include font-size(16px);
    color: $colorDarkGrey;
    margin-bottom: 20px;
    @include placeholder {
        color: $colorDarkGrey;
    }
}

label {
    font-weight: inherit;
    margin-bottom: 0;
}


/* Custom Select */

select {
    padding-left: 12px;
}


/* Custom Checkbox */

input[type=checkbox] {
    display: none;
}


/* to hide the checkbox itself */

input[type=checkbox] + label {
    margin-bottom: 20px;
}

input[type=checkbox] + label:before {
    font-family: $font-icon;
    display: inline-block;
}

input[type=checkbox] + label:before {
    content: "\f00c";
    border: 2px solid $colorLightGrey2;
    color: $colorWhite;
    padding: 0 1.5px;
    font-size: 13px;
    margin-right: 10px;
    line-height: 125%;
    position: relative;
    top: -3px;
}


/* unchecked icon */

input[type=checkbox] + label:before {}


/* space between checkbox and label */

input[type=checkbox]:checked + label:before {
    content: "\f00c";
    color: $colorGreen;
}


/* checked icon */

input[type=checkbox]:checked + label:before {}


/* allow space for check mark */


/*
input[type="text"]::-webkit-input-placeholder 		{ color: $colorDarkGrey; }
input[type="text"]:-moz-placeholder 				{ color: $colorDarkGrey; }
input[type="text"]::-moz-placeholder 				{ color: $colorDarkGrey; }
input[type="text"]:-ms-input-placeholder 			{ color: $colorDarkGrey; }
input[type="email"]::-webkit-input-placeholder 		{ color: $colorDarkGrey; }
input[type="email"]:-moz-placeholder 				{ color: $colorDarkGrey; }
input[type="email"]::-moz-placeholder 				{ color: $colorDarkGrey; }
input[type="email"]:-ms-input-placeholder 			{ color: $colorDarkGrey; }
input[type="password"]::-webkit-input-placeholder 	{ color: $colorDarkGrey; }
input[type="password"]:-moz-placeholder 			{ color: $colorDarkGrey; }
input[type="password"]::-moz-placeholder 			{ color: $colorDarkGrey; }
input[type="password"]:-ms-input-placeholder 		{ color: $colorDarkGrey; }
textarea::-webkit-input-placeholder 				{ color: $colorDarkGrey; }
textarea:-moz-placeholder 							{ color: $colorDarkGrey; }
textarea::-moz-placeholder 							{ color: $colorDarkGrey; }
textarea:-ms-input-placeholder 						{ color: $colorDarkGrey; }*/


/* Buttons */

.btn {
    background: $colorGreen;
    color: $colorWhite;
    font-family: $font-rw;
    @include font-size(14px);
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    border: none;
    padding: 17px 20px;
    @include transition(all 0.6s);
    @include border-radius(0);
    @extend .nowrap;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
        background: $colorLightGreen;
        color: $colorWhite;
    }
    &.orange {
        background: $colorOrange;
        &:hover,
        &:focus {
            background: $colorLightOrange;
        }
    }
    &.whiteline {
        background: none;
        border: solid 3px $colorWhite!important;
        &:hover,
        &:focus {
            background: $colorWhite;
            color: $colorDarkGrey;
        }
    }
}

.green {
    .btn {
        &.whiteline {
            &:hover,
            &:focus {
                color: $colorGreen;
            }
        }
    }
}

.darkgreen {
    .btn {
        &.whiteline {
            &:hover,
            &:focus {
                color: $colorDarkGreen;
            }
        }
    }
}

.darkgrey {
    .btn {
        &.whiteline {
            &:hover,
            &:focus {
                color: $colorDarkGrey;
            }
        }
    }
}

.orange {
    .btn {
        &.whiteline {
            &:hover,
            &:focus {
                color: $colorOrange;
            }
        }
    }
}


/* Figure with Image */

figure {
    border: none;
    position: relative;
    margin-bottom: 50px;
    &[class*="col-"] {
        padding: 0;
        margin: 0 40px;
        margin-bottom: 40px;
    }
    img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    figcaption {
        position: absolute;
        right: 0;
        bottom: 20px;
        padding: 5px 10px;
        background: rgba($colorLightGrey3, .85);
        color: $colorDarkGrey;
        font-weight: 500;
        @include font-size(11px);
        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 2px;
            height: 100%;
            background: $colorOrange;
            z-index: 99;
        }
    }
    &.pull-left {
        margin-left: 0;
    }
    &.pull-right {
        margin-right: 0;
        figcaption,
        &:after {
            left: inherit;
            right: 0;
        }
    }
    @include max-screen($xmd) {
        &[class*="col-"] {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
}


/* ==========================================================================

	4. PAGE STRUCTURE
			
   ========================================================================== */


/* Bootstrap Reset */

$padding-lg: 50px;
$padding-md: 40px;
$padding-sm: 20px;


/*  Utilities Sizes (Height and Width) */

.fullpage {
    height: 100vh;
}

.fh {
    height: 100%;
}

.fw {
    width: 100%;
}

.fxw {
    max-width: 100%!important;
}

.hh {
    height: 50%;
}

.flipH {
    @include transform(scaleX(-1));
}

.no-scroll {
    overflow: hidden!important;
}

.pos-rel {
    position: relative;
}

.no-padding {
    padding: 0;
}


/* Skeleton of Elements */

/*.tframe {
    display: table;
    &.fixed {
        table-layout: fixed;
    }
    &.auto {
        table-layout: auto;
    }
}

.tcell {
    display: table-cell;
}*/

.valign-top {
    vertical-align: top;
}

.valign-mid {
    vertical-align: middle;
}

.valign-bot {
    vertical-align: bottom;
}

.trow {
    display: table-row;
    height: 1px;
    overflow: hidden;
    &.expand {
        height: auto;
    }
    &.fh {
        height: 100%;
    }
}


/* Main wrapper of the page */

#wrapper {
    width:100%;

    @include transition(padding-top .3s);
    &:before,
    &:after {
        @extend .clear;
    }
}

html,
body {
    font-family: $font-rw;
    @include font-size(16px);
    height: 100%;
}

body {
    color: $colorDarkGrey;
}

.header-wrap {
    max-height: 100px;  /*Figure out why this breaks slider on home*/
}
header {
   width: 100%;
   height: 100px;
   border-bottom: 3px solid $colorRed1;
   background: $colorWhite;
        .row {
            height: 100%;
        }  
        .title-text {
        	padding: 18px 0 0 0;
            h1 {
                margin-bottom: 5px;
                font-size: 1.685rem;
            }
            p {
                font-size: .8rem;
                font-family: $font-gr;
                letter-spacing: 2px;
            }
        }
        .contact-text {
            strong {
                font-size: 1rem;
            }
            .fa {
                color: $colorRed1;
            }
            text-align: right;
            font-size: .8rem;
        }
}

footer {
    background-color: $colorRed1;
    color: $colorWhite;
    border-bottom: 3px solid $colorRed2;
    a {
        @include font-size(12px);
        color: $colorWhite;
        &:hover {
            color: $colorGreen;
        }
    }
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    p {
        font-size: .7rem;
        margin-bottom: 0;
        font-family: $font-li;
    }
    @include max-screen($sm) {
    	p {
    		text-align: center;
    	}
    }
    .row {
        padding: 6px;
    }

}
       
.main-content {     
     padding-top: 0;     
     padding-bottom: 0;
        /*height: 100vh;*/
        .login-container {
        	width:50%;
            position: fixed;
            top: 30%;
            left: 20%;
            padding: 30px;
            @include max-screen($xxlg) {
            	.login {
            	border-top: 10px solid $colorRed1;
            	padding:30px;
            	width: 350px;
            	height: 230px;
            	box-shadow: 0px 14px 25px -5px;
            	background: rgba(255,255,255,0.5);
            	}
            }
            div.well {
                height: 250px;
            }
            .Absolute-Center {
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
            .Absolute-Center.is-Responsive {
                width: 50%;
                height: 50%;
                min-width: 200px;
                max-width: 400px;
                padding: 40px;
            }
            	.form-group{
		            button {
		            	background-color: $colorRed1;
		            	font-weight: initial;
		            	padding: 8px 0;
		            }
		            a {
		            	font-size: .8rem;
		            	color: $colorRed1;
		            }
		            input[type=text] {
		            	margin-bottom: 0px;
                        font-family: $font-li;
		            }
                    input[type=password] {
                        font-family: $font-li;
                    }
        		}
             
        }
}



/* page layout setup utilities */

.fullpage {
        height: 100%;
        width: 100%;
        @include max-screen($xmd) {
            height: auto;
        }
}



.main-content-fullpage {
    .main-content {
        padding-top: 0;
        @include max-screen($xmd) {
            padding-bottom: 0;
        }
    }
}


/* ==========================================================================

	5. CUSTOM STYLES
			
   ========================================================================== */

.main-content {
    min-height: 500px;
    /*line-height: 150%;*/   
}



.sub-headline {
    border-top: solid 2px $colorDarkGreen;
    border-bottom: solid 3px $colorLightGrey2;
    padding: 25px 0;
    display: block;
    margin-top: 10px;
    line-height: 100%;
    margin-bottom: 25px;
    span {
        display: inline-block;
        @include font-size(18px);
        &:first-child {
            padding-right: 10px;
        }
    }
    .social {
        @include font-size(18px);
        color: $colorGreen;
        margin-bottom: 0;
        a {
            margin: 0 7px;
            &:hover {
                color: $colorDarkGreen;
            }
        }
    }
    @include max-screen($lg) {
        .pull-right {
            float: none!important;
        }
    }
    @include max-screen($xmd) {
        span {
            margin-bottom: 10px;
        }
    }
}


.accordion {
    &.custom {
        margin-bottom: 40px;
        li {
            border: solid 2px $colorGreen;
            padding: 15px 20px;
            margin-bottom: 20px;
            .opener {
                position: relative;
                display: block;
                color: $colorGreen;
                text-decoration: none;
                @include font-size(14px);
                text-transform: uppercase;
                font-weight: 700;
                padding-right: 15px;
                line-height: 140%;
                &:after {
                    content: '+';
                    color: $colorGreen;
                    position: absolute;
                    right: 0;
                    @include font-size(32px);
                    font-weight: 500;
                    top: 0;
                }
            }
            .slide {
                padding-top: 20px;
            }
            &.active {
                border: solid 2px $colorOrange;
                .opener {
                    color: $colorOrange;
                    &:after {
                        content: '-';
                        color: $colorOrange;
                    }
                }
            }
        }
    }
}

.responsive-tabs-wrapper {
    margin-bottom: 40px;
    ul {
        display: table;
        table-layout: fixed;
        width: 100%;
        li {
            display: table-cell;
            color: $colorWhite;
            padding: 0 2.5px;
            outline: none;
            position: relative;
            span {
                background: $colorGreen;
                color: $colorWhite;
                text-align: center;
                text-transform: uppercase;
                @include font-size(14px);
                font-weight: 700;
                display: block;
                width: 100%;
                height: 100%;
                border: solid 2px $colorGreen;
                border-bottom: none;
                padding: 20px 0;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 100%;
                    background: $colorGreen;
                    z-index: -1;
                }
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
            &.responsive-tabs__list__item--active {
                span {
                    background: $colorWhite;
                    color: $colorGreen;
                    border-bottom: none;
                }
            }
        }
    }
    .responsive-tabs__panel {
        padding: 35px;
        border: solid 2px $colorGreen;
        position: relative;
        border-top: none;
    }
    @include max-screen($xmd) {
        .responsive-tabs__list {
            display: none;
        }
        .responsive-tabs__heading {
            padding: 25px;
            color: $colorWhite;
            background: $colorGreen;
            margin-bottom: 5px;
            text-transform: uppercase;
            @include font-size(14px);
            font-weight: 700;
            outline: none;
            &.responsive-tabs__heading--active {
                border: solid 2px $colorGreen;
                border-bottom: none;
                color: $colorGreen;
                background: none;
            }
        }
        .responsive-tabs__panel {
            position: relative;
            top: -5px;
            margin-bottom: 5px;
            padding: 25px;
            &.responsive-tabs__panel--active {
                padding-top: 0;
            }
        }
    }
}


// New styles 
.side-col {
    height: 100%;
}

.main-col {
    height: 100%;
}

.logo {
    height: 80px;
    width: 150px;
}