/* CSS Document */
/* Import here reusable tools for saas */
/* Keyframes */
/* Animation */
/* Animation Iteration */
/* Border Radius */
/* Transform */
/* Transitions */
/* Opacity */
/* Box Shadow */
/* Color Gradient */
/* ==========================================================================

    1. SETTINGS         
            
   ========================================================================== */
/* Variables */
/* Media Queries Sizes */
/* Base Accent Colors */
/* Font Family */
/* Extended Classes */
.nowrap, .btn {
  white-space: pre-wrap;
  /* CSS 3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

.clear, #wrapper:before, #wrapper:after {
  content: '';
  display: table;
  clear: both;
  float: none; }

.nopadding {
  padding: 0 !important; }

/* Accessibility */
.accessibility {
  position: absolute;
  top: auto;
  left: -10000px;
  overflow: hidden;
  width: 0;
  height: 0; }
  .accessibility:focus {
    position: static;
    width: auto;
    height: auto; }

/* ==========================================================================

    2. BASE STYLES
            
   ========================================================================== */
/* Target IE11 and up */
_:-ms-fullscreen,
:root {
  /* insert rule here */ }

/* Typography */
a {
  outline: none;
  border: none;
  text-decoration: none;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  color: #970f0f; }
  a:hover, a:focus {
    outline: none;
    border: none;
    text-decoration: none; }
  a:focus {
    color: inherit; }
  a:hover {
    color: #eb2020; }

strong,
b {
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
p,
hr {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-bottom: 1.875rem;
  font-family: "Georgia", sans-serif; }

h1 {
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "Lato Light", sans-serif;
  color: #970f0f;
  margin-bottom: 15px; }

h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 130%;
  margin-bottom: 25px; }

h3 {
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
  margin-bottom: 15px; }

h4 {
  font-size: 1.125rem; }

hr {
  border-top: 3px solid #e5e5e5;
  margin: 2.4em 0; }

/* Text settings */
.text-upcase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/* Display settings */
.disp-ib {
  display: inline-block; }

.disp-il {
  display: inline; }

.disp-bl {
  display: block; }

/* Non-Bootstrap Styles */
.nobs-container {
  width: 100%; }

.nobs-row {
  width: 100%;
  padding: 10px; }

.col-33 {
  display: inline-block;
  min-width: 220px;
  width: 33%; }

/* Blockquote */
blockquote {
  position: relative;
  font-weight: 400;
  font-size: 30px;
  font-size: 1.875rem;
  border: none !important;
  line-height: 130%;
  text-align: left;
  padding: 0 30px; }
  blockquote:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #eb2020; }
  blockquote.pull-left {
    text-align: right;
    margin-right: 40px;
    margin-bottom: 30px;
    padding-left: 0; }
    blockquote.pull-left:before {
      left: auto;
      right: 0; }
  blockquote.pull-right {
    text-align: left;
    padding: 0 30px;
    margin-left: 40px;
    margin-bottom: 30px;
    padding-right: 0; }
  @media only screen and (max-width: 1280px) {
    blockquote {
      font-size: 26px;
      font-size: 1.625rem; } }
  @media only screen and (max-width: 1024px) {
    blockquote {
      font-size: 24px;
      font-size: 1.5rem; }
      blockquote.pull-left {
        margin-right: 0; }
      blockquote.pull-right {
        margin-left: 0; } }
  @media only screen and (max-width: 768px) {
    blockquote {
      font-size: 20px;
      font-size: 1.25rem; } }

/* Unordered List */
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

ul.list {
  position: relative;
  margin-bottom: 40px; }
  ul.list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px; }
    ul.list li:before {
      content: '\f00c';
      font-family: "FontAwesome";
      position: absolute;
      top: 2px;
      left: 0;
      color: #970f0f;
      font-size: 12px;
      font-size: 0.75rem; }
    ul.list li ul {
      padding-left: 10px;
      margin-top: 20px; }
      ul.list li ul li:before {
        content: '\f10c';
        top: 0;
        font-size: 10px;
        font-size: 0.625rem;
        color: #959595; }
      ul.list li ul ul li:before {
        content: '\f111';
        font-size: 6px;
        font-size: 0.375rem;
        color: #d55441; }

img.lazy {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }
  img.lazy.loaded {
    opacity: 1;
    filter: alpha(opacity=100); }

img[data-src] {
  visibility: hidden;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s; }

img[src] {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible; }

/* Forms */
.form-horizontal {
  margin-bottom: 40px;
  box-shadow: 0 7px 11px 0;
  height: 740px;
  width: 600px;
  background: #fff;
  font-family: "Lato Light Italic", sans-serif;
  padding: 60px;
  font-size: .9rem; }
  .form-horizontal .btn {
    background: #970f0f;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 0.6rem;
    height: -1px;
    text-transform: uppercase;
    border: none;
    padding: 10px 30px;
    -moz-transition: all .6s;
    -o-transition: all .6s;
    -webkit-transition: all .6s;
    transition: all .6s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
    margin-left: 10px; }
  .form-horizontal .img-container {
    width: 128px;
    height: 128px;
    display: inline-block;
    padding: 0; }
  .form-horizontal img {
    width: 100%;
    height: auto; }
  .form-horizontal .row {
    margin: 0 -10px; }
    .form-horizontal .row > [class*="col-"] {
      padding: 0 10px; }
  .form-horizontal textarea {
    resize: none; }
  .form-horizontal input[type="checkbox"] {
    display: inline-block;
    margin-right: 30px; }
  .form-horizontal input[name="ProductName"] {
    width: 100%; }
  .form-horizontal input[name="RegularPrice"] {
    width: 40%; }
  .form-horizontal input[name="SKUno"] {
    width: 40%; }
  .form-horizontal input[name="SagePartno"] {
    width: 40%; }
  .form-horizontal input[name="Discount"] {
    width: 40%; }
  .form-horizontal input[name="Title"] {
    width: 100%; }
  .form-horizontal input[name="Description"] {
    width: 100%; }
  .form-horizontal .control-label {
    text-align: left; }
  .form-horizontal .datepicker {
    max-width: 90px; }
  .form-horizontal .fa {
    color: #eb2020;
    border: 1px solid lightgrey;
    border-left: none;
    font-size: .8rem;
    padding: 7px 8px;
    vertical-align: bottom; }

.form-control:nth-child(7) label.control-label {
  margin: 0 10px; }

.form-title {
  background: #c2c2c2;
  width: 600px;
  line-height: 28px;
  padding: 8px 25px;
  font-size: .8rem;
  letter-spacing: 2px;
  border-bottom: 3px solid #eb2020;
  position: absolute;
  top: 0;
  left: 0; }
  .form-title p {
    margin-bottom: 0;
    display: inline-block; }
  .form-title .fa {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 45px;
    text-align: center;
    padding: 15px 15px; }

/* Input Reset */
/* Input Focus Reset */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="submit"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="file"],
textarea,
select {
  /*background: $colorLightGrey2;*/
  border: 2px solid #e5e5e5;
  font-size: 16px;
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px; }
  input[type="text"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="file"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  select::-webkit-input-placeholder {
    color: #333; }
  input[type="text"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  input[type="file"]:-moz-placeholder,
  textarea:-moz-placeholder,
  select:-moz-placeholder {
    color: #333; }
  input[type="text"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="file"]::-moz-placeholder,
  textarea::-moz-placeholder,
  select::-moz-placeholder {
    color: #333; }
  input[type="text"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  input[type="file"]:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  select:-ms-input-placeholder {
    color: #333; }

label {
  font-weight: inherit;
  margin-bottom: 0; }

/* Custom Select */
select {
  padding-left: 12px; }

/*
input[type="text"]::-webkit-input-placeholder       { color: $colorDarkGrey; }
input[type="text"]:-moz-placeholder                 { color: $colorDarkGrey; }
input[type="text"]::-moz-placeholder                { color: $colorDarkGrey; }
input[type="text"]:-ms-input-placeholder            { color: $colorDarkGrey; }
input[type="email"]::-webkit-input-placeholder      { color: $colorDarkGrey; }
input[type="email"]:-moz-placeholder                { color: $colorDarkGrey; }
input[type="email"]::-moz-placeholder               { color: $colorDarkGrey; }
input[type="email"]:-ms-input-placeholder           { color: $colorDarkGrey; }
input[type="password"]::-webkit-input-placeholder   { color: $colorDarkGrey; }
input[type="password"]:-moz-placeholder             { color: $colorDarkGrey; }
input[type="password"]::-moz-placeholder            { color: $colorDarkGrey; }
input[type="password"]:-ms-input-placeholder        { color: $colorDarkGrey; }
textarea::-webkit-input-placeholder                 { color: $colorDarkGrey; }
textarea:-moz-placeholder                           { color: $colorDarkGrey; }
textarea::-moz-placeholder                          { color: $colorDarkGrey; }
textarea:-ms-input-placeholder                      { color: $colorDarkGrey; }*/
/* Buttons */
.btn {
  background: #970f0f;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  border: none;
  padding: 17px 20px;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none; }
  .btn:hover, .btn:focus {
    text-decoration: none;
    background: #eb2020;
    color: #fff; }
  .btn.orange {
    background: #ff7441; }
    .btn.orange:hover, .btn.orange:focus {
      background: #ff6927; }
  .btn.whiteline {
    background: none;
    border: solid 3px #fff !important; }
    .btn.whiteline:hover, .btn.whiteline:focus {
      background: #fff;
      color: #333; }

.darkgrey .btn.whiteline:hover, .darkgrey .btn.whiteline:focus {
  color: #333; }

.orange .btn.whiteline:hover, .orange .btn.whiteline:focus {
  color: #ff7441; }

/* Figure with Image */
figure {
  border: none;
  position: relative;
  margin-bottom: 50px; }
  figure[class*="col-"] {
    padding: 0;
    margin: 0 40px;
    margin-bottom: 40px; }
  figure img {
    max-width: 100%;
    height: auto;
    width: 100%; }
  figure figcaption {
    position: absolute;
    right: 0;
    bottom: 20px;
    padding: 5px 10px;
    background: rgba(219, 216, 207, 0.85);
    color: #333;
    font-weight: 500;
    font-size: 11px;
    font-size: 0.6875rem; }
    figure figcaption:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 2px;
      height: 100%;
      background: #ff7441;
      z-index: 99; }
  figure.pull-left {
    margin-left: 0; }
  figure.pull-right {
    margin-right: 0; }
    figure.pull-right figcaption, figure.pull-right:after {
      left: inherit;
      right: 0; }
  @media only screen and (max-width: 768px) {
    figure[class*="col-"] {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 30px; } }

/* ==========================================================================

    4. PAGE STRUCTURE
            
   ========================================================================== */
/* Bootstrap Reset */
/*  Utilities Sizes (Height and Width) */
.fh {
  height: 100%; }

.fw {
  width: 100%; }

.fxw {
  max-width: 100% !important; }

.hh {
  height: 50%; }

.flipH {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.no-scroll {
  overflow: hidden !important; }

.pos-rel {
  position: relative; }

.no-padding {
  padding: 0 !important; }

/* Skeleton of Elements */
/*.tframe {
    display: table;
    &.fixed {
        table-layout: fixed;
    }
    &.auto {
        table-layout: auto;
    }
}

.tcell {
    display: table-cell;
}*/
.valign-top {
  vertical-align: top; }

.valign-mid {
  vertical-align: middle; }

.valign-bot {
  vertical-align: bottom; }

.trow {
  display: table-row;
  height: 1px;
  overflow: hidden; }
  .trow.expand {
    height: auto; }
  .trow.fh {
    height: 100%; }

/* Main wrapper of the page */
#wrapper {
  width: 100%;
  -moz-transition: padding-top 0.3s;
  -o-transition: padding-top 0.3s;
  -webkit-transition: padding-top 0.3s;
  transition: padding-top 0.3s; }

html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  height: 100%; }

body {
  color: #333;
  min-width: 1024px;
  /* For fluid container desktops and landscape tablet.*/ }

@media only screen and (max-width: 1280px) {
  body.home {
    min-width: 1024px;
    max-height: 768px; } }
.header-wrap {
  max-height: 100px; }

header {
  width: 100%;
  min-width: 1024px;
  height: 100px;
  border-bottom: 3px solid #970f0f;
  background: #fff; }
  header .row {
    height: 100%;
    min-width: 1024px; }
  header .title-text {
    padding: 18px 0 0 0; }
    header .title-text h1 {
      margin-bottom: 5px;
      font-size: 1.685rem; }
    header .title-text p {
      font-size: .8rem;
      font-family: "Georgia", sans-serif;
      letter-spacing: 2px; }
  header .contact-text {
    text-align: right;
    font-size: .8rem; }
    header .contact-text strong {
      font-size: 1rem; }
    header .contact-text .fa {
      color: #970f0f; }

footer {
  background-color: #970f0f;
  color: #fff;
  border-bottom: 3px solid #eb2020; }
  footer a {
    font-size: 12px;
    font-size: 0.75rem;
    color: #970f0f; }
    footer a:hover {
      color: #970f0f; }
  footer img {
    width: 100%;
    max-width: 100%;
    height: auto; }
  footer p {
    font-size: .7rem;
    margin-bottom: 0;
    font-family: "Lato Light Italic", sans-serif; }
  footer .row {
    min-width: 1024px; }
  @media only screen and (max-width: 575px) {
    footer p {
      text-align: center; } }
  footer .row {
    padding: 6px; }

.main-content {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 500px; }
  .main-content .login-container {
    width: 50%;
    position: fixed;
    top: 30%;
    left: 20%;
    padding: 30px; }
    .main-content .login-container .login {
      border-top: 10px solid #970f0f;
      padding: 30px;
      width: 350px;
      height: 230px;
      box-shadow: 0 14px 25px -5px;
      background: rgba(255, 255, 255, 0.5); }
  .main-content div.well {
    height: 250px; }
  .main-content .Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .main-content .Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px; }
  .main-content .form-group button {
    background-color: #970f0f;
    font-weight: initial;
    padding: 8px 0; }
  .main-content .form-group a {
    font-size: .8rem;
    color: #970f0f;
    float: right;
    padding: 5px 0 15px; }
  .main-content .form-group input[type=text] {
    margin-bottom: 0;
    font-family: "Lato Light Italic", sans-serif; }
  .main-content .form-group input[type=password] {
    font-family: "Lato Light Italic", sans-serif;
    margin-bottom: 0; }
  .main-content .form-group.input-group:nth-child(2) {
    margin-bottom: 0px; }

/* page layout setup utilities */
.fullpage {
  height: 100%;
  width: 100%; }
  @media only screen and (max-width: 768px) {
    .fullpage {
      height: auto; } }

.main-content-fullpage .main-content {
  padding-top: 0; }
  @media only screen and (max-width: 768px) {
    .main-content-fullpage .main-content {
      padding-bottom: 0; } }

.breadcrumb {
  min-height: 24px;
  padding: 2px 0;
  margin-bottom: 0;
  background-color: #dbd8cf; }
  .breadcrumb p {
    text-align: right;
    float: right;
    font-family: "Lato Light", sans-serif;
    color: #970f0f;
    font-weight: 700;
    font-size: .8rem; }

/* ==========================================================================

    5. CUSTOM STYLES
            
   ========================================================================== */
.sub-headline {
  /*border-top: solid 2px $colorDarkGreen;*/
  border-bottom: solid 3px #e5e5e5;
  padding: 25px 0;
  display: block;
  margin-top: 10px;
  line-height: 100%;
  margin-bottom: 25px; }
  .sub-headline span {
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem; }
    .sub-headline span:first-child {
      padding-right: 10px; }
  @media only screen and (max-width: 1024px) {
    .sub-headline .pull-right {
      float: none !important; } }
  @media only screen and (max-width: 768px) {
    .sub-headline span {
      margin-bottom: 10px; } }

.accordion.custom {
  margin-bottom: 40px; }
  .accordion.custom li {
    border: solid 2px #970f0f;
    padding: 15px 20px;
    margin-bottom: 20px; }
    .accordion.custom li .opener {
      position: relative;
      display: block;
      color: #970f0f;
      text-decoration: none;
      font-size: 14px;
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: 700;
      padding-right: 15px;
      line-height: 140%; }
      .accordion.custom li .opener:after {
        content: '+';
        color: #970f0f;
        position: absolute;
        right: 0;
        font-size: 32px;
        font-size: 2rem;
        font-weight: 500;
        top: 0; }
    .accordion.custom li .slide {
      padding-top: 20px; }
    .accordion.custom li.active {
      border: solid 2px #ff7441; }
      .accordion.custom li.active .opener {
        color: #ff7441; }
        .accordion.custom li.active .opener:after {
          content: '-';
          color: #ff7441; }

.side-menu-wrap {
  width: 180px;
  display: inline-block;
  background-color: #959595; }
  .side-menu-wrap .side-menu li {
    text-align: center;
    padding: 20px 10px; }
  .side-menu-wrap .side-menu li:hover {
    background-color: #fff; }

.side-menu {
  min-height: 745px; }

@media only screen and (max-width: 1440px) {
  .side-menu {
    min-height: 745px; }

  .viewer {
    min-width: 1206px; } }
.main-col {
  height: 100%;
  /*width: auto;*/
  display: inline-block; }

.logo {
  height: 80px;
  width: 200px; }

.img-container {
  padding: 7px;
  /*Becareful not to break layout for header, doing so will break slider*/ }

a.canvasjs-chart-credit {
  opacity: 0; }

.order-num {
  font-size: 28px;
  color: #970f0f;
  letter-spacing: 2px; }

/* Icons */
.createlink p {
  text-align: center;
  font-family: "Lato Light", sans-serif; }
.createlink .fa {
  font-size: 48px; }
.createlink .fa:hover {
  color: #970f0f;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease; }
.createlink p.label {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #dbd8cf; }
.createlink p.label:hover,
.createlink p.label:focus {
  border-bottom: 4px solid #970f0f; }
.createlink p.label-red {
  text-align: center;
  font-weight: 700;
  font-size: .8rem;
  letter-spacing: 1px;
  background-color: #970f0f;
  padding: 5px; }
  .createlink p.label-red .fa {
    font-size: 20px;
    color: #fff; }
  .createlink p.label-red a {
    color: #fff; }

/* Create Link Modals */
div#new-dialog {
  height: auto;
  width: auto; }

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle {
  background: #c2c2c2;
  width: 600px;
  line-height: 28px;
  padding: 8px 25px;
  font-size: .8rem;
  letter-spacing: 2px;
  border-bottom: 3px solid #eb2020; }
  .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle span.ui-dialog-title {
    font-family: "Georgia", sans-serif; }

/*# sourceMappingURL=style.css.map */
