/* CSS Document */
/* Import here reusable tools for saas */
/* Keyframes */
/* Animation */
/* Animation Iteration */
/* Border Radius */
/* Transform */
/* Transitions */
/* Opacity */
/* Box Shadow */
/* Color Gradient */
/* ==========================================================================

	1. SETTINGS			
			
   ========================================================================== */
/* Variables */
/* Media Queries Sizes */
/* Base Accent Colors */
/* Font Family */
/* Extended Classes */
.nowrap, .btn, .home .main-content .right-content .news ul li a .title {
  white-space: pre-wrap;
  /* CSS 3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

.clear, #wrapper:before, #wrapper:after {
  content: '';
  display: table;
  clear: both;
  float: none; }

.nopadding {
  padding: 0 !important; }

/* Accessibility */
.accessibility {
  position: absolute;
  top: auto;
  left: -10000px;
  overflow: hidden;
  width: 0;
  height: 0; }
  .accessibility:focus {
    position: static;
    width: auto;
    height: auto; }

/* ==========================================================================

	2. BASE STYLES
			
   ========================================================================== */
/* Target IE11 and up */
_:-ms-fullscreen,
:root {
  /* insert rule here */ }

/* Typography */
a {
  outline: none;
  border: none;
  text-decoration: none;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  color: #00aa66; }
  a:hover, a:focus {
    outline: none;
    border: none;
    text-decoration: none; }
  a:focus {
    color: inherit; }
  a:hover {
    color: #c2c2c2; }

strong,
b {
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
p,
hr {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-bottom: 1.875rem;
  font-family: "Georgia", sans-serif; }

h1 {
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "Lato Light", sans-serif;
  color: #970f0f;
  margin-bottom: 15px; }

h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 130%;
  margin-bottom: 25px; }

h3 {
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #00492c;
  font-weight: 700;
  margin-bottom: 15px; }

h4 {
  font-size: 1.125rem; }

hr {
  border-top: 3px solid #e5e5e5;
  margin: 2.4em 0; }

/* Text settings */
.text-upcase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/* Display settings */
.disp-ib {
  display: inline-block; }

.disp-il {
  display: inline; }

.disp-bl {
  display: block; }

/* Blockquote */
blockquote {
  position: relative;
  font-weight: 400;
  font-size: 30px;
  font-size: 1.875rem;
  border: none !important;
  line-height: 130%;
  text-align: left;
  padding: 0 30px; }
  blockquote:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #eb2020; }
  blockquote.pull-left {
    text-align: right;
    margin-right: 40px;
    margin-bottom: 30px;
    padding-left: 0; }
    blockquote.pull-left:before {
      left: auto;
      right: 0; }
  blockquote.pull-right {
    text-align: left;
    padding: 0 30px;
    margin-left: 40px;
    margin-bottom: 30px;
    padding-right: 0; }
  @media only screen and (max-width: 1280px) {
    blockquote {
      font-size: 26px;
      font-size: 1.625rem; } }
  @media only screen and (max-width: 1024px) {
    blockquote {
      font-size: 24px;
      font-size: 1.5rem; }
      blockquote.pull-left {
        margin-right: 0; }
      blockquote.pull-right {
        margin-left: 0; } }
  @media only screen and (max-width: 768px) {
    blockquote {
      font-size: 20px;
      font-size: 1.25rem; } }

/* Unordered List */
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

ul.list {
  position: relative;
  margin-bottom: 40px; }
  ul.list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px; }
    ul.list li:before {
      content: '\f00c';
      font-family: "FontAwesome";
      position: absolute;
      top: 2px;
      left: 0;
      color: #00aa66;
      font-size: 12px;
      font-size: 0.75rem; }
    ul.list li ul {
      padding-left: 10px;
      margin-top: 20px; }
      ul.list li ul li:before {
        content: '\f10c';
        top: 0;
        font-size: 10px;
        font-size: 0.625rem;
        color: #959595; }
      ul.list li ul ul li:before {
        content: '\f111';
        font-size: 6px;
        font-size: 0.375rem;
        color: #d55441; }

img.lazy {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }
  img.lazy.loaded {
    opacity: 1;
    filter: alpha(opacity=100); }

img[data-src] {
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s; }

img[src] {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible; }

/* Forms */
form {
  margin-bottom: 40px; }
  form .row {
    margin: 0 -10px; }
    form .row > [class*="col-"] {
      padding: 0 10px; }

/* Input Reset */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="submit"],
input[type="file"],
textarea,
select,
button {
  font-family: "Raleway", sans-serif;
  border-radius: 0;
  box-shadow: none;
  border: none;
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 14.5px;
  line-height: 120%;
  margin-bottom: 10px; }

/* Input Focus Reset */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="submit"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="file"],
textarea,
select {
  background: #e5e5e5;
  font-size: 16px;
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px; }
  input[type="text"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="file"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  select::-webkit-input-placeholder {
    color: #333; }
  input[type="text"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  input[type="file"]:-moz-placeholder,
  textarea:-moz-placeholder,
  select:-moz-placeholder {
    color: #333; }
  input[type="text"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="file"]::-moz-placeholder,
  textarea::-moz-placeholder,
  select::-moz-placeholder {
    color: #333; }
  input[type="text"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  input[type="file"]:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  select:-ms-input-placeholder {
    color: #333; }

label {
  font-weight: inherit;
  margin-bottom: 0; }

/* Custom Select */
select {
  padding-left: 12px; }

/* Custom Checkbox */
input[type=checkbox] {
  display: none; }

/* to hide the checkbox itself */
input[type=checkbox] + label {
  margin-bottom: 20px; }

input[type=checkbox] + label:before {
  font-family: "FontAwesome";
  display: inline-block; }

input[type=checkbox] + label:before {
  content: "\f00c";
  border: 2px solid #e5e5e5;
  color: #fff;
  padding: 0 1.5px;
  font-size: 13px;
  margin-right: 10px;
  line-height: 125%;
  position: relative;
  top: -3px; }

/* unchecked icon */
/* space between checkbox and label */
input[type=checkbox]:checked + label:before {
  content: "\f00c";
  color: #00aa66; }

/* checked icon */
/* allow space for check mark */
/*
input[type="text"]::-webkit-input-placeholder 		{ color: $colorDarkGrey; }
input[type="text"]:-moz-placeholder 				{ color: $colorDarkGrey; }
input[type="text"]::-moz-placeholder 				{ color: $colorDarkGrey; }
input[type="text"]:-ms-input-placeholder 			{ color: $colorDarkGrey; }
input[type="email"]::-webkit-input-placeholder 		{ color: $colorDarkGrey; }
input[type="email"]:-moz-placeholder 				{ color: $colorDarkGrey; }
input[type="email"]::-moz-placeholder 				{ color: $colorDarkGrey; }
input[type="email"]:-ms-input-placeholder 			{ color: $colorDarkGrey; }
input[type="password"]::-webkit-input-placeholder 	{ color: $colorDarkGrey; }
input[type="password"]:-moz-placeholder 			{ color: $colorDarkGrey; }
input[type="password"]::-moz-placeholder 			{ color: $colorDarkGrey; }
input[type="password"]:-ms-input-placeholder 		{ color: $colorDarkGrey; }
textarea::-webkit-input-placeholder 				{ color: $colorDarkGrey; }
textarea:-moz-placeholder 							{ color: $colorDarkGrey; }
textarea::-moz-placeholder 							{ color: $colorDarkGrey; }
textarea:-ms-input-placeholder 						{ color: $colorDarkGrey; }*/
/* Buttons */
.btn {
  background: #00aa66;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  border: none;
  padding: 17px 20px;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none; }
  .btn:hover, .btn:focus {
    text-decoration: none;
    background: #07bd74;
    color: #fff; }
  .btn.orange {
    background: #ff7441; }
    .btn.orange:hover, .btn.orange:focus {
      background: #ff6927; }
  .btn.whiteline {
    background: none;
    border: solid 3px #fff !important; }
    .btn.whiteline:hover, .btn.whiteline:focus {
      background: #fff;
      color: #333; }

.green .btn.whiteline:hover, .green .btn.whiteline:focus {
  color: #00aa66; }

.darkgreen .btn.whiteline:hover, .darkgreen .btn.whiteline:focus {
  color: #00492c; }

.darkgrey .btn.whiteline:hover, .darkgrey .btn.whiteline:focus {
  color: #333; }

.orange .btn.whiteline:hover, .orange .btn.whiteline:focus {
  color: #ff7441; }

/* Figure with Image */
figure {
  border: none;
  position: relative;
  margin-bottom: 50px; }
  figure[class*="col-"] {
    padding: 0;
    margin: 0 40px;
    margin-bottom: 40px; }
  figure img {
    max-width: 100%;
    height: auto;
    width: 100%; }
  figure figcaption {
    position: absolute;
    right: 0;
    bottom: 20px;
    padding: 5px 10px;
    background: rgba(219, 216, 207, 0.85);
    color: #333;
    font-weight: 500;
    font-size: 11px;
    font-size: 0.6875rem; }
    figure figcaption:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 2px;
      height: 100%;
      background: #ff7441;
      z-index: 99; }
  figure.pull-left {
    margin-left: 0; }
  figure.pull-right {
    margin-right: 0; }
    figure.pull-right figcaption, figure.pull-right:after {
      left: inherit;
      right: 0; }
  @media only screen and (max-width: 768px) {
    figure[class*="col-"] {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 30px; } }

/* ==========================================================================

	4. PAGE STRUCTURE
			
   ========================================================================== */
/* Bootstrap Reset */
/*  Utilities Sizes (Height and Width) */
.fullpage {
  height: 100vh; }

.fh {
  height: 100%; }

.fw {
  width: 100%; }

.fxw {
  max-width: 100% !important; }

.hh {
  height: 50%; }

.flipH {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.no-scroll {
  overflow: hidden !important; }

.pos-rel {
  position: relative; }

.no-padding {
  padding: 0; }

/* Skeleton of Elements */
/*.tframe {
    display: table;
    &.fixed {
        table-layout: fixed;
    }
    &.auto {
        table-layout: auto;
    }
}

.tcell {
    display: table-cell;
}*/
.valign-top {
  vertical-align: top; }

.valign-mid {
  vertical-align: middle; }

.valign-bot {
  vertical-align: bottom; }

.trow {
  display: table-row;
  height: 1px;
  overflow: hidden; }
  .trow.expand {
    height: auto; }
  .trow.fh {
    height: 100%; }

/* Main wrapper of the page */
#wrapper {
  width: 100%;
  -moz-transition: padding-top 0.3s;
  -o-transition: padding-top 0.3s;
  -webkit-transition: padding-top 0.3s;
  transition: padding-top 0.3s; }

html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  height: 100%; }

body {
  color: #333; }

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  border-bottom: 3px solid #970f0f;
  background: #fff; }
  header .row {
    height: 100%; }
  header .title-text {
    padding: 18px 0 0 0; }
    header .title-text h1 {
      margin-bottom: 5px;
      font-size: 1.685rem; }
    header .title-text p {
      font-size: .8rem;
      font-family: "Georgia", sans-serif;
      letter-spacing: 2px; }
  header .contact-text {
    padding: 20px;
    text-align: right;
    font-size: .8rem; }
    header .contact-text strong {
      font-size: 1rem; }
    header .contact-text .fa {
      color: #970f0f; }

footer {
  background-color: #970f0f;
  color: #fff;
  border-bottom: 3px solid #eb2020; }
  footer a {
    font-size: 12px;
    font-size: 0.75rem;
    color: #fff; }
    footer a:hover {
      color: #00aa66; }
  footer img {
    width: 100%;
    max-width: 100%;
    height: auto; }
  footer p {
    font-size: .7rem;
    margin-bottom: 0;
    font-family: "Lato Light Italic", sans-serif; }
  @media only screen and (max-width: 575px) {
    footer p {
      text-align: center; } }
  footer .row {
    padding: 6px; }
  footer .container-fluid {
    padding: 8px; }
    footer .container-fluid > .row > [class*="col-"] {
      border-right: solid 1px #fff; }
      footer .container-fluid > .row > [class*="col-"]:last-child {
        border-right: none; }
  footer .copyright {
    background: #333; }
    footer .copyright .content {
      padding: 12px 50px;
      padding-right: 10px;
      font-size: 12px;
      font-size: 0.75rem; }
    footer .copyright a {
      text-decoration: underline; }
  footer .subscribe {
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background: #333; }
    footer .subscribe:hover {
      background: #ff7441;
      -moz-transition: background 0.3s;
      -o-transition: background 0.3s;
      -webkit-transition: background 0.3s;
      transition: background 0.3s; }
    footer .subscribe .content {
      padding: 12px 10px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      font-size: 0.875rem; }
      footer .subscribe .content:hover {
        color: #fff !important; }
      @media only screen and (max-width: 575px) {
        footer .subscribe .content .more {
          display: none; } }
  footer .social {
    background: #333; }
    footer .social .content {
      padding: 12px 10px; }
      footer .social .content a {
        font-size: 22px;
        font-size: 1.375rem;
        display: inline-block;
        padding: 0 10px; }
    @media only screen and (max-width: 1280px) {
      footer .social .content a {
        font-size: 18px !important; } }
    @media only screen and (max-width: 992px) {
      footer .social {
        border-right: none !important; } }
    @media only screen and (max-width: 575px) {
      footer .social .content a {
        font-size: 18px !important;
        padding: 0 5px !important; } }
  footer .signup {
    line-height: 120%; }
    footer .signup .content a {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      font-size: 0.875rem; }
    footer .signup .content .info {
      line-height: 140%; }
    footer .signup .content .img-info img {
      opacity: 0; }
    @media only screen and (max-width: 1440px) {
      footer .signup .content .img-info {
        background: none !important; }
        footer .signup .content .img-info img {
          opacity: 1; } }
    @media only screen and (max-width: 768px) {
      footer .signup {
        text-align: center; } }
  footer .row {
    margin: 0; }
    footer .row > [class*="col-"] {
      padding: 0; }
  footer .collapsible-data {
    position: absolute;
    bottom: 0;
    background: #333;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    footer .collapsible-data .collapsible-opener {
      background: #00aa66;
      display: block;
      padding: 18px 25px;
      color: #fff;
      height: 55px;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      footer .collapsible-data .collapsible-opener:hover {
        background: #07bd74; }
    footer .collapsible-data .collapsible-content {
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      max-height: 0px;
      overflow: hidden; }
      footer .collapsible-data .collapsible-content .info {
        padding: 18px 35px; }
      footer .collapsible-data .collapsible-content .btn {
        display: block;
        width: 100%; }
      footer .collapsible-data .collapsible-content h3 {
        text-transform: none;
        font-size: 24px;
        font-size: 1.5rem;
        color: #fff;
        font-weight: 400; }
    footer .collapsible-data.active {
      -moz-transition: all 1.5s;
      -o-transition: all 1.5s;
      -webkit-transition: all 1.5s;
      transition: all 1.5s; }
      footer .collapsible-data.active .collapsible-content {
        -moz-transition: all 1.5s;
        -o-transition: all 1.5s;
        -webkit-transition: all 1.5s;
        transition: all 1.5s;
        max-height: 999px; }
      footer .collapsible-data.active .fa-angle-up:before {
        content: '\f107'; }
    @media only screen and (max-width: 1440px) {
      footer .collapsible-data .pull-left,
      footer .collapsible-data .pull-right {
        width: 100% !important; } }
    @media only screen and (max-width: 1024px) {
      footer .collapsible-data .collapsible-opener {
        padding: 18px 15px;
        text-align: center; } }
    @media only screen and (max-width: 768px) {
      footer .collapsible-data {
        bottom: auto;
        top: 0; }
        footer .collapsible-data .pull-left,
        footer .collapsible-data .pull-right {
          float: none !important; }
        footer .collapsible-data .collapsible-content .info {
          padding: 30px 35px; }
        footer .collapsible-data .collapsible-content .btn {
          display: inline-block;
          width: 50%; } }
    @media only screen and (max-width: 575px) {
      footer .collapsible-data .collapsible-content .btn {
        width: 80%; } }

@media only screen and (max-width: 768px) {
  .inner #wrapper {
    margin-bottom: 0 !important; } }

.home #wrapper {
  padding-top: 0 !important; }
.home footer {
        /*position:fixed;
		bottom:0;
		left:0;
		width:100%;
		z-index:3;
		position:relative;
		
		@include max-screen($xmd) {
			position:relative;
		}*/ }
.home .main-content {
  /*height: 100vh;*/ }
  .home .main-content .login-container {
    width: 50%;
    position: fixed;
    top: 30%;
    left: 20%;
    padding: 30px; }
    @media only screen and (max-width: 1440px) {
      .home .main-content .login-container .login {
        border-top: 10px solid #970f0f;
        padding: 30px;
        width: 350px;
        height: 230px;
        box-shadow: 0px 14px 25px -5px;
        background: rgba(255, 255, 255, 0.5); } }
    .home .main-content .login-container div.well {
      height: 250px; }
    .home .main-content .login-container .Absolute-Center {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
    .home .main-content .login-container .Absolute-Center.is-Responsive {
      width: 50%;
      height: 50%;
      min-width: 200px;
      max-width: 400px;
      padding: 40px; }
    .home .main-content .login-container .form-group button {
      background-color: #970f0f;
      font-weight: initial;
      padding: 8px 0; }
    .home .main-content .login-container .form-group a {
      font-size: .8rem;
      color: #970f0f; }
    .home .main-content .login-container .form-group input[type=text] {
      margin-bottom: 0px;
      font-family: "Lato Light Italic", sans-serif; }
    .home .main-content .login-container .form-group input[type=password] {
      font-family: "Lato Light Italic", sans-serif; }
  .home .main-content .right-content {
    background: #fff; }
    .home .main-content .right-content > .row {
      padding-top: 128px; }
    .home .main-content .right-content .col1 {
      position: relative;
      z-index: 2;
      background: #00492c; }
    .home .main-content .right-content .col2 {
      position: relative;
      z-index: 1; }
    .home .main-content .right-content .slider-width-hack {
      position: absolute;
      width: 100%;
      height: 20px;
      left: 0;
      margin: 0;
      background: black; }
    .home .main-content .right-content .news {
      background: #dbd8cf;
      padding: 30px 0; }
      .home .main-content .right-content .news h2 {
        font-size: 30px;
        font-size: 1.875rem; }
      .home .main-content .right-content .news ul li {
        margin-bottom: 30px; }
        .home .main-content .right-content .news ul li a {
          display: inline-block;
          border-left: solid 1px #07bd74;
          padding: 0 15px;
          color: #00492c; }
          .home .main-content .right-content .news ul li a .title {
            display: block; }
          .home .main-content .right-content .news ul li a .date {
            display: block;
            font-size: 14px;
            font-size: 0.875rem;
            color: #07bd74; }
          .home .main-content .right-content .news ul li a:hover {
            color: #07bd74; }
      .home .main-content .right-content .news .more-links a {
        text-transform: uppercase;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: 700;
        color: #00492c;
        display: inline-block;
        margin-right: 10px; }
        .home .main-content .right-content .news .more-links a:hover {
          color: #07bd74; }
        .home .main-content .right-content .news .more-links a:last-child {
          margin-right: 0; }
      @media only screen and (max-width: 1440px) {
        .home .main-content .right-content .news {
          padding: 20px 0; }
          .home .main-content .right-content .news > .row > [class*="col-"] {
            padding: 0 30px; }
          .home .main-content .right-content .news ul li a {
            font-size: 15px;
            font-size: 0.9375rem; } }
    .home .main-content .right-content .cta {
      background: #00492c; }
      .home .main-content .right-content .cta .home-cta {
        width: 1px;
        overflow: hidden;
        height: 100%;
        color: #fff; }
        .home .main-content .right-content .cta .home-cta img {
          width: 100%;
          height: auto;
          display: block; }
        .home .main-content .right-content .cta .home-cta h3 {
          color: #fff;
          font-size: 30px;
          font-size: 1.875rem;
          text-transform: none;
          font-weight: 400;
          margin-bottom: 20px; }
        .home .main-content .right-content .cta .home-cta .row {
          padding: 30px 0;
          padding-bottom: 40px; }
        .home .main-content .right-content .cta .home-cta .slick-list {
          height: auto !important; }
        .home .main-content .right-content .cta .home-cta .slick-dots {
          display: none !important; }
        .home .main-content .right-content .cta .home-cta .slick-next,
        .home .main-content .right-content .cta .home-cta .slick-prev {
          top: 5vw; }
          .home .main-content .right-content .cta .home-cta .slick-next:before,
          .home .main-content .right-content .cta .home-cta .slick-prev:before {
            content: '\f104';
            font-family: "FontAwesome";
            color: #fff;
            font-size: 30px;
            font-size: 1.875rem; }
        .home .main-content .right-content .cta .home-cta .slick-prev {
          left: 5%; }
        .home .main-content .right-content .cta .home-cta .slick-next {
          right: 5%; }
          .home .main-content .right-content .cta .home-cta .slick-next:before {
            content: '\f105'; }
        @media only screen and (max-width: 1440px) {
          .home .main-content .right-content .cta .home-cta .row > [class*="col-"] {
            padding: 0 30px; }
          .home .main-content .right-content .cta .home-cta h3 {
            font-size: 26px;
            font-size: 1.625rem; } }
        @media only screen and (max-width: 1024px) {
          .home .main-content .right-content .cta .home-cta .slick-next,
          .home .main-content .right-content .cta .home-cta .slick-prev {
            top: 13vw; } }
        @media only screen and (max-width: 768px) {
          .home .main-content .right-content .cta .home-cta .slick-next,
          .home .main-content .right-content .cta .home-cta .slick-prev {
            top: 17vw; } }
        @media only screen and (max-width: 575px) {
          .home .main-content .right-content .cta .home-cta .slick-next,
          .home .main-content .right-content .cta .home-cta .slick-prev {
            top: 21vw; } }
    .home .main-content .right-content .services {
      position: relative;
      overflow: hidden; }
      .home .main-content .right-content .services > .row.compressed > [class*="col-"] {
        overflow: hidden; }
      .home .main-content .right-content .services a {
        display: block;
        position: relative; }
        .home .main-content .right-content .services a img {
          max-width: 100%;
          display: inline-block; }
        .home .main-content .right-content .services a h2 {
          color: #00492c;
          font-weight: 400;
          font-size: 24px;
          font-size: 1.5rem;
          text-transform: none;
          margin-bottom: 0;
          padding-left: 20px; }
        .home .main-content .right-content .services a p.subtitle {
          color: #00492c;
          font-weight: 500;
          font-size: 18px;
          font-size: 1.125rem;
          text-transform: none;
          margin-bottom: 0; }
        .home .main-content .right-content .services a p {
          color: #000;
          margin-bottom: 0; }
        .home .main-content .right-content .services a .row.compressed {
          padding-left: 40px;
          padding-right: 50px; }
        .home .main-content .right-content .services a .icon-item {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1; }
          .home .main-content .right-content .services a .icon-item .row,
          .home .main-content .right-content .services a .icon-item .row > [class*="col-"] {
            height: 100%; }
        .home .main-content .right-content .services a .icon-item-alt {
          padding: 25px 0;
          position: relative;
          left: 100%;
          -moz-transition: left 0.2s;
          -o-transition: left 0.2s;
          -webkit-transition: left 0.2s;
          transition: left 0.2s;
          background: #e5e5e5;
          z-index: 2; }
          .home .main-content .right-content .services a .icon-item-alt:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 5px;
            height: 100%;
            background: #00aa66; }
          .home .main-content .right-content .services a .icon-item-alt > .row.compressed > [class*="col-"] {
            /*height:auto!important;*/ }
        .home .main-content .right-content .services a:hover .icon-item-alt {
          left: 0;
          -moz-transition: left 0.3s;
          -o-transition: left 0.3s;
          -webkit-transition: left 0.3s;
          transition: left 0.3s; }
        @media only screen and (max-width: 1440px) {
          .home .main-content .right-content .services a .icon-item-alt {
            padding: 15px 0; }
            .home .main-content .right-content .services a .icon-item-alt > .row.compressed > [class*="col-"] {
              max-height: 160px !important; }
          .home .main-content .right-content .services a .row.compressed {
            padding-left: 30px;
            padding-right: 30px; }
          .home .main-content .right-content .services a .icon-item-alt img {
            margin-left: 10px; }
          .home .main-content .right-content .services a h2 {
            font-size: 20px;
            font-size: 1.25rem; }
          .home .main-content .right-content .services a p.subtitle {
            font-size: 16px;
            font-size: 1rem; }
          .home .main-content .right-content .services a p {
            font-size: 15px;
            font-size: 0.9375rem; } }
        @media only screen and (max-width: 1024px) {
          .home .main-content .right-content .services a .icon-item {
            position: relative;
            text-align: center;
            height: 200px;
            padding: 20px 0; }
            .home .main-content .right-content .services a .icon-item .row,
            .home .main-content .right-content .services a .icon-item .row > [class*="col-"] {
              height: auto; }
            .home .main-content .right-content .services a .icon-item img {
              margin-bottom: 20px; }
            .home .main-content .right-content .services a .icon-item h2 {
              padding-left: 0; }
          .home .main-content .right-content .services a .icon-item-alt {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center; }
            .home .main-content .right-content .services a .icon-item-alt .row,
            .home .main-content .right-content .services a .icon-item-alt .row > [class*="col-"] {
              height: auto !important; }
            .home .main-content .right-content .services a .icon-item-alt img {
              margin-left: 0;
              margin-bottom: 20px; }
            .home .main-content .right-content .services a .icon-item-alt .pull-right {
              float: none !important;
              text-align: center; } }
      @media only screen and (max-width: 1024px) {
        .home .main-content .right-content .services {
          /*padding-top:20px;*/ }
          .home .main-content .right-content .services a {
            border-right: solid 1px #c2c2c2;
            border-bottom: solid 1px #c2c2c2; } }
    @media only screen and (max-width: 1024px) {
      .home .main-content .right-content > .row {
        padding-top: 0; } }
  .home .main-content .left-content .home-slider {
    position: relative; }
    .home .main-content .left-content .home-slider .slick-list {
      height: auto !important; }
    .home .main-content .left-content .home-slider .slider-item {
      position: relative; }
    .home .main-content .left-content .home-slider .slick-arrow {
      display: none !important; }
    .home .main-content .left-content .home-slider .slick-next,
    .home .main-content .left-content .home-slider .slick-prev {
      top: 30vw; }
      .home .main-content .left-content .home-slider .slick-next:before,
      .home .main-content .left-content .home-slider .slick-prev:before {
        content: '\f104';
        font-family: "FontAwesome";
        color: #fff;
        font-size: 30px;
        font-size: 1.875rem; }
    .home .main-content .left-content .home-slider .slick-prev {
      left: 5%; }
    .home .main-content .left-content .home-slider .slick-next {
      right: 5%; }
      .home .main-content .left-content .home-slider .slick-next:before {
        content: '\f105'; }
    .home .main-content .left-content .home-slider .slick-dots {
      top: 40px;
      right: 40px;
      padding-top: 129px;
      display: inline-block !important;
      width: auto !important; }
      .home .main-content .left-content .home-slider .slick-dots li {
        width: 30px;
        height: 10px; }
        .home .main-content .left-content .home-slider .slick-dots li button {
          width: 30px;
          height: 10px; }
          .home .main-content .left-content .home-slider .slick-dots li button:before {
            content: '';
            width: 30px;
            height: 10px;
            background: #fff; }
        .home .main-content .left-content .home-slider .slick-dots li.slick-active button:before {
          background: #ff7441; }
    .home .main-content .left-content .home-slider img {
      width: 100%;
      height: auto; }
    .home .main-content .left-content .home-slider .caption {
      position: absolute;
      bottom: 0;
      width: 100%; }
      .home .main-content .left-content .home-slider .caption p {
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 30px;
        font-size: 1.875rem;
        color: #fff;
        line-height: 120%; }
        .home .main-content .left-content .home-slider .caption p .text1 {
          font-weight: 500;
          font-size: 24px;
          font-size: 1.5rem;
          display: block; }
        .home .main-content .left-content .home-slider .caption p .text2 {
          font-weight: 400;
          font-size: 20px;
          font-size: 1.25rem;
          font-style: italic;
          display: block; }
      .home .main-content .left-content .home-slider .caption .title {
        background: rgba(0, 73, 44, 0.5);
        text-align: right; }
        .home .main-content .left-content .home-slider .caption .title.top {
          display: none; }
      .home .main-content .left-content .home-slider .caption h3 {
        font-weight: 300;
        font-size: 64px;
        font-size: 4rem;
        margin-bottom: 0;
        position: relative;
        padding-left: 10px;
        display: inline-block;
        color: #fff;
        text-transform: none; }
        .home .main-content .left-content .home-slider .caption h3 a {
          color: #fff;
          display: block; }
        .home .main-content .left-content .home-slider .caption h3:before {
          content: '';
          width: 10px;
          height: 10px;
          background: #00aa66;
          position: absolute;
          left: -10px;
          bottom: 39px; }
        .home .main-content .left-content .home-slider .caption h3 span {
          background: rgba(0, 170, 102, 0.5);
          display: inline-block;
          height: 100%;
          padding: 20px 45px;
          margin-left: 35px; }
    @media only screen and (max-width: 1500px) {
      .home .main-content .left-content .home-slider .caption p {
        font-size: 26px;
        font-size: 1.625rem; }
      .home .main-content .left-content .home-slider .caption h3 {
        font-size: 54px;
        font-size: 3.375rem; } }
    @media only screen and (max-width: 1440px) {
      .home .main-content .left-content .home-slider .slick-dots {
        top: 20px; }
      .home .main-content .left-content .home-slider .caption p {
        font-size: 22px;
        font-size: 1.375rem; }
      .home .main-content .left-content .home-slider .caption h3 {
        font-size: 44px;
        font-size: 2.75rem; }
        .home .main-content .left-content .home-slider .caption h3:before {
          bottom: 29px; }
        .home .main-content .left-content .home-slider .caption h3 span {
          padding: 15px 45px; } }
    @media only screen and (max-width: 1280px) {
      .home .main-content .left-content .home-slider .slick-dots {
        top: 10px; }
      .home .main-content .left-content .home-slider .row.compressed > [class*=col-] {
        width: 70%; }
      .home .main-content .left-content .home-slider .caption p {
        font-size: 20px;
        font-size: 1.25rem;
        margin-bottom: 20px; }
        .home .main-content .left-content .home-slider .caption p .text1 {
          font-size: 20px;
          font-size: 1.25rem; }
        .home .main-content .left-content .home-slider .caption p .text2 {
          font-size: 16px;
          font-size: 1rem; }
      .home .main-content .left-content .home-slider .caption h3 {
        font-size: 36px;
        font-size: 2.25rem; }
        .home .main-content .left-content .home-slider .caption h3:before {
          bottom: 26px; }
        .home .main-content .left-content .home-slider .caption h3 span {
          padding: 15px 30px; } }
    @media only screen and (max-width: 1024px) {
      .home .main-content .left-content .home-slider .slick-dots {
        display: none !important; }
      .home .main-content .left-content .home-slider .slick-arrow {
        display: block !important; }
      .home .main-content .left-content .home-slider .caption {
        margin-top: -51px; }
        .home .main-content .left-content .home-slider .caption h3:before {
          width: 7px;
          height: 7px; }
        .home .main-content .left-content .home-slider .caption p {
          padding: 20px 0;
          padding-bottom: 5px; }
          .home .main-content .left-content .home-slider .caption p .text1 {
            margin-bottom: 15px; }
          .home .main-content .left-content .home-slider .caption p .text2 {
            margin-bottom: 15px; } }
    @media only screen and (max-width: 575px) {
      .home .main-content .left-content .home-slider .slick-next,
      .home .main-content .left-content .home-slider .slick-prev {
        top: 40vw; }
      .home .main-content .left-content .home-slider .row.compressed > [class*=col-] {
        width: inherit; }
      .home .main-content .left-content .home-slider .caption {
        position: relative; }
        .home .main-content .left-content .home-slider .caption .title {
          display: none; }
          .home .main-content .left-content .home-slider .caption .title.top {
            display: block; }
        .home .main-content .left-content .home-slider .caption h3 {
          font-size: 24px;
          font-size: 1.5rem; }
          .home .main-content .left-content .home-slider .caption h3:before {
            bottom: 18px; }
          .home .main-content .left-content .home-slider .caption h3 span {
            padding: 10px 15px;
            margin-left: 10px; }
        .home .main-content .left-content .home-slider .caption p {
          font-size: 18px;
          font-size: 1.125rem; }
        .home .main-content .left-content .home-slider .caption .container-fluid {
          background: #00aa66; } }
  .home .main-content .left-content .seo h2 {
    display: inline-block;
    background: #00492c;
    color: #fff;
    padding: 15px 0;
    font-weight: 400;
    font-size: 30px;
    font-size: 1.875rem; }
  .home .main-content .left-content .seo p {
    line-height: 170%; }
  @media only screen and (max-width: 1024px) {
    .home .main-content .left-content .seo h2 {
      font-size: 24px;
      font-size: 1.5rem; } }

/* page layout setup utilities */
.fullpage #wrapper {
  height: 100%;
  width: 100%; }
  @media only screen and (max-width: 768px) {
    .fullpage #wrapper {
      height: auto; } }

.main-content-fullpage .main-content {
  padding-top: 0; }
  @media only screen and (max-width: 768px) {
    .main-content-fullpage .main-content {
      padding-bottom: 0; } }

/* ==========================================================================

	5. CUSTOM STYLES
			
   ========================================================================== */
.main-content {
  min-height: 80vh;
  /*line-height: 150%;*/ }
  .main-content .main > .container-fluid {
    padding-right: 40px; }
  .main-content .aside > .container-fluid {
    padding-left: 40px; }
  @media only screen and (max-width: 1024px) {
    .main-content {
      padding-top: 60px; } }
  @media only screen and (max-width: 768px) {
    .main-content {
      padding-top: 40px; } }
  @media only screen and (max-width: 575px) {
    .main-content .main > .container-fluid {
      padding-right: 20px; }
    .main-content .aside > .container-fluid {
      padding-left: 20px; } }

.side-nav {
  position: relative;
  margin-bottom: 40px; }
  .side-nav ul li {
    padding: 20px 0;
    border-bottom: solid 1px #dbd8cf; }
    .side-nav ul li a {
      display: inline-block;
      padding-left: 35px;
      padding-right: 20px;
      position: relative;
      font-size: 17px;
      font-size: 1.0625rem;
      font-weight: 500; }
      .side-nav ul li a:after {
        content: '\f104';
        position: absolute;
        left: 10px;
        top: 1px;
        font-family: "FontAwesome"; }
      .side-nav ul li a:hover {
        color: #c2c2c2; }
    .side-nav ul li.active a {
      color: #00492c;
      font-weight: 700; }
    .side-nav ul li:last-child {
      border-bottom: none; }
  @media only screen and (max-width: 1280px) {
    .side-nav ul li {
      padding: 15px 0; }
      .side-nav ul li a {
        font-size: 16px;
        font-size: 1rem;
        padding-right: 10px; } }
  @media only screen and (max-width: 768px) {
    .side-nav {
      display: none; } }

.sub-headline {
  border-top: solid 2px #00492c;
  border-bottom: solid 3px #e5e5e5;
  padding: 25px 0;
  display: block;
  margin-top: 10px;
  line-height: 100%;
  margin-bottom: 25px; }
  .sub-headline span {
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem; }
    .sub-headline span:first-child {
      padding-right: 10px; }
  .sub-headline .social {
    font-size: 18px;
    font-size: 1.125rem;
    color: #00aa66;
    margin-bottom: 0; }
    .sub-headline .social a {
      margin: 0 7px; }
      .sub-headline .social a:hover {
        color: #00492c; }
  @media only screen and (max-width: 1024px) {
    .sub-headline .pull-right {
      float: none !important; } }
  @media only screen and (max-width: 768px) {
    .sub-headline span {
      margin-bottom: 10px; } }

.accordion.custom {
  margin-bottom: 40px; }
  .accordion.custom li {
    border: solid 2px #00aa66;
    padding: 15px 20px;
    margin-bottom: 20px; }
    .accordion.custom li .opener {
      position: relative;
      display: block;
      color: #00aa66;
      text-decoration: none;
      font-size: 14px;
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: 700;
      padding-right: 15px;
      line-height: 140%; }
      .accordion.custom li .opener:after {
        content: '+';
        color: #00aa66;
        position: absolute;
        right: 0;
        font-size: 32px;
        font-size: 2rem;
        font-weight: 500;
        top: 0; }
    .accordion.custom li .slide {
      padding-top: 20px; }
    .accordion.custom li.active {
      border: solid 2px #ff7441; }
      .accordion.custom li.active .opener {
        color: #ff7441; }
        .accordion.custom li.active .opener:after {
          content: '-';
          color: #ff7441; }

.responsive-tabs-wrapper {
  margin-bottom: 40px; }
  .responsive-tabs-wrapper ul {
    display: table;
    table-layout: fixed;
    width: 100%; }
    .responsive-tabs-wrapper ul li {
      display: table-cell;
      color: #fff;
      padding: 0 2.5px;
      outline: none;
      position: relative; }
      .responsive-tabs-wrapper ul li span {
        background: #00aa66;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: 700;
        display: block;
        width: 100%;
        height: 100%;
        border: solid 2px #00aa66;
        border-bottom: none;
        padding: 20px 0; }
        .responsive-tabs-wrapper ul li span:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 100%;
          background: #00aa66;
          z-index: -1; }
      .responsive-tabs-wrapper ul li:first-child {
        padding-left: 0; }
      .responsive-tabs-wrapper ul li:last-child {
        padding-right: 0; }
      .responsive-tabs-wrapper ul li.responsive-tabs__list__item--active span {
        background: #fff;
        color: #00aa66;
        border-bottom: none; }
  .responsive-tabs-wrapper .responsive-tabs__panel {
    padding: 35px;
    border: solid 2px #00aa66;
    position: relative;
    border-top: none; }
  @media only screen and (max-width: 768px) {
    .responsive-tabs-wrapper .responsive-tabs__list {
      display: none; }
    .responsive-tabs-wrapper .responsive-tabs__heading {
      padding: 25px;
      color: #fff;
      background: #00aa66;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 700;
      outline: none; }
      .responsive-tabs-wrapper .responsive-tabs__heading.responsive-tabs__heading--active {
        border: solid 2px #00aa66;
        border-bottom: none;
        color: #00aa66;
        background: none; }
    .responsive-tabs-wrapper .responsive-tabs__panel {
      position: relative;
      top: -5px;
      margin-bottom: 5px;
      padding: 25px; }
      .responsive-tabs-wrapper .responsive-tabs__panel.responsive-tabs__panel--active {
        padding-top: 0; } }

.side-col {
  height: 100%; }

.main-col {
  height: 100%; }

.logo {
  height: 100px;
  width: 200px; }

/*# sourceMappingURL=style.css.map */
