<!-- Dynamically loaded content -->
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tabProperties" data-toggle="tab">PROPERTIES</a>
        </li>
        <li>
            <a href="#tabProducts" data-toggle="tab">PRODUCTS</a>
        </li>
        <li>
            <a href="#tabCategories" data-toggle="tab">CATEGORIES</a>
        </li>
        <li>
            <a href="#tabUsers" data-toggle="tab">USERS</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tabProperties">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="/Admin/Home/NewProperty" id="open-property-dialog">CREATE NEW PROPERTY</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
            <div class="table-options">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Contact Name</th>
                            <th>On Sale</th>
                        </tr>
                        <tr>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="main-table-container">
                <table class="table">
                    <tbody class="main">
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td>
                                <button>1</button>
                                <button>1</button>
                                <button>1</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>
                                <button>1</button>
                                <button>1</button>
                                <button>1</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>Otto</td>
                            <td>
                                <button>1</button>
                                <button>1</button>
                                <button>1</button>
                            </td>
                        </tr>
                        <!-- <td>
                            <tr>
                                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="/Admin/Home/NewProduct" id="open-product-dialog">CREATE NEW PRODUCT</a></p>
                                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
                            </tr>
                            <tr>
                                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="/Admin/Home/NewProduct" id="open-product-dialog">CREATE NEW PRODUCT</a></p>
                                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
                            </tr>
                            <tr>
                                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="/Admin/Home/NewProduct" id="open-product-dialog">CREATE NEW PRODUCT</a></p>
                                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
                            </tr>
                            <tr>
                                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="/Admin/Home/NewProduct" id="open-product-dialog">CREATE NEW PRODUCT</a></p>
                                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
                            </tr>
                            <tr>
                                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="/Admin/Home/NewProduct" id="open-product-dialog">CREATE NEW PRODUCT</a></p>
                                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
                            </tr>
                        </td> -->
                    </tbody>
                </table>
            </div>
            <!-- @Html.Action("Index", "Property")
        @*@Html.RenderAction(Model.NameOfPartialViewHere, Model.SomeVM);*@ -->
        </div>
        <div class="tab-pane fade" id="tabProducts">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="/Admin/Home/NewProduct" id="open-product-dialog">CREATE NEW PRODUCT</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
            <div class="table-options">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Contact Name</th>
                            <th>On Sale</th>
                        </tr>
                        <tr>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="main-table-container">
                <table class="table">
                    <tbody class="main">
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td>
                                <button>2</button>
                                <button>2</button>
                                <button>2</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>
                                <button>2</button>
                                <button>2</button>
                                <button>2</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>Otto</td>
                            <td>
                                <button>2</button>
                                <button>2</button>
                                <button>2</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--         @Html.Action("Index", "Product")
 -->
        </div>
        <div class="tab-pane fade" id="tabCategories">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="/Admin/Home/NewCategory" id="open-category-dialog">CREATE NEW CATEGORY</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
<div class="table-options">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Contact Name</th>
                            <th>On Sale</th>
                        </tr>
                        <tr>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="main-table-container">
                <table class="table">
                    <tbody class="main">
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td>
                                <button>3</button>
                                <button>3</button>
                                <button>3</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>
                                  <button>3</button>
                                <button>3</button>
                                <button>3</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>Otto</td>
                            <td>
                                  <button>3</button>
                                <button>3</button>
                                <button>3</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--         @Html.Action("Index", "Category")
 -->
        </div>
        <div class="tab-pane fade" id="tabUsers">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="/Admin/Home/NewUser" id="open-user-dialog">CREATE NEW USER</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>

            <div class="table-options">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Contact Name</th>
                            <th>On Sale</th>
                        </tr>
                        <tr>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                            <th>
                                <select name="select">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="main-table-container">
                <table class="table">
                    <tbody class="main">
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td>
                                     <button>4</button>
                                <button>4</button>
                                <button>4</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>
                                  <button>4</button>
                                <button>4</button>
                                <button>4</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>Otto</td>
                            <td>
                                      <button>4</button>
                                <button>4</button>
                                <button>4</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- @Html.Action("Index", "Users") -->
        </div>
    </div>
    <!-- jquery ui tabs  -->
    <!-- <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Properties</a></li>
            <li><a href="#tabs-2">Products</a></li>
            <li><a href="#tabs-3">Users</a></li>
            <li><a href="#tabs-4">Categories</a></li>
        </ul>
        <div id="tabs-1">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i><a href="/Admin/Home/NewProperty" id="open-property-dialog">CREATE NEW PROPERTY</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
        </div>
        <div id="tabs-2">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i><a href="/Admin/Home/NewProduct" id="open-product-dialog">CREATE NEW PRODUCT</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
        </div>
        <div id="tabs-3">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i><a href="/Admin/Home/NewUser" id="open-user-dialog">CREATE NEW USER</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
        </div>
        <div id="tabs-4">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i><a href="/Admin/Home/NewCategory" id="open-category-dialog">CREATE NEW CATEGORY</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
        </div>
    </div> -->
</div>
<ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>
<div id="new-dialog" style="display: none"></div>
