<!-- Dynamically loaded content -->
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tabProperties" data-toggle="tab">PROPERTIES</a>
        </li>
        <li>
            <a href="#tabProducts" data-toggle="tab">PRODUCTS</a>
        </li>
        <li>
            <a href="#tabCategories" data-toggle="tab">CATEGORIES</a>
        </li>
        <li>
            <a href="#tabUsers" data-toggle="tab">USERS</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tabProperties">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i><a href="/Admin/Home/NewProperty" id="open-property-dialog">CREATE NEW PROPERTY</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
            <!-- @Html.Action("Index", "Property")
        @*@Html.RenderAction(Model.NameOfPartialViewHere, Model.SomeVM);*@ -->
        </div>
        <div class="tab-pane fade" id="tabProducts">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i><a href="/Admin/Home/NewProduct" id="open-product-dialog">CREATE NEW PRODUCT</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
            <!--         @Html.Action("Index", "Product")
 -->
        </div>
        <div class="tab-pane fade" id="tabCategories">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i><a href="/Admin/Home/NewCategory" id="open-category-dialog">CREATE NEW CATEGORY</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
            <!--         @Html.Action("Index", "Category")
 -->
        </div>
        <div class="tab-pane fade" id="tabUsers">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i><a href="/Admin/Home/NewUser" id="open-user-dialog">CREATE NEW USER</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
            
            <!-- @Html.Action("Index", "Users") -->
        </div>
    </div>

    <!-- jquery ui tabs  -->
    <!-- <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Properties</a></li>
            <li><a href="#tabs-2">Products</a></li>
            <li><a href="#tabs-3">Users</a></li>
            <li><a href="#tabs-4">Categories</a></li>
        </ul>
        <div id="tabs-1">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i><a href="/Admin/Home/NewProperty" id="open-property-dialog">CREATE NEW PROPERTY</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
        </div>
        <div id="tabs-2">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i><a href="/Admin/Home/NewProduct" id="open-product-dialog">CREATE NEW PRODUCT</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
        </div>
        <div id="tabs-3">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i><a href="/Admin/Home/NewUser" id="open-user-dialog">CREATE NEW USER</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
        </div>
        <div id="tabs-4">
            <div class="createlink">
                <p class="label-red"><i class="fa fa-plus-circle" aria-hidden="true"></i><a href="/Admin/Home/NewCategory" id="open-category-dialog">CREATE NEW CATEGORY</a></p>
                <p class="label-red"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#" id="open-property-dialog">ASSIGN SELECTED ITEMS TO PROPERTY</a></p>
            </div>
        </div>
    </div> -->


</div>
<div id="new-dialog" style="display: none"></div>
