<!-- Dynamically loaded content -->
<div class="container-fluid">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Products</a></li>
            <li><a href="#tabs-2">Properties</a></li>
            <li><a href="#tabs-3">Users</a></li>
            <li><a href="#tabs-4">Categories</a></li>
        </ul>
        <div id="tabs-1">
            <div class="createlink">
                <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i></p>
                <p value="NewProduct" class="open-product-dialog label">CREATE NEW PRODUCT</p>
            </div>
        </div>
        <div id="tabs-2">
            <div class="createlink">
                <p><i class="fa fa-home" aria-hidden="true"></i></p>
                <p value="NewProperty" class="open-product-dialog label">CREATE NEW PROPERTY</p>
            </div>
        </div>
        <div id="tabs-3">
            <div class="createlink">
                <p><i class="fa fa-user" aria-hidden="true"></i></p>
                <p value="NewUser" class="open-product-dialog label">CREATE NEW USER</p>
            </div>
        </div>
        <div id="tabs-4">
            <div class="createlink">
                <p><i class="fa fa-list" aria-hidden="true"></i></p>
                <p value="NewCategory" class="open-product-dialog label">CREATE NEW CATEGORY</p>
            </div>
        </div>
    </div>
</div>

<div id="new-dialog" style="display: none"></div>
