<!-- ******************************************************* -->
<!-- Main Content -->
<!-- ******************************************************* -->
<!-- Dynamically loaded content -->
<div class="container-fluid fh fw t-home">
    <div class="row">
        <div class="col-md-5">
            <div id="barchartContainer" style="height: 200px; width: 370px;"></div>
        </div>
        <div class="col-md-2">
            <div class="order-num-container">
                <span class="order-num"> 28 </span>
                <hr />
                <span class="order-sub"> Orders this Month </span>
            </div>
        </div>
        <div class="col-md-5">
            <div id="piechartContainer" style="height: 300px; width:300px; margin: 0 auto;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="createlink">
                <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i></p>
                <p value="NewProduct" class="open-product-dialog label">CREATE NEW PRODUCT</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="createlink">
                <p><i class="fa fa-home" aria-hidden="true"></i></p>
                <p value="NewProperty" class="open-product-dialog label">CREATE NEW PROPERTY</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="createlink">
                <p><i class="fa fa-user" aria-hidden="true"></i></p>
                <p value="NewUser" class="open-product-dialog label">CREATE NEW USER</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="createlink">
                <p><i class="fa fa-list" aria-hidden="true"></i></p>
                <p value="NewCategory" class="open-product-dialog label">CREATE NEW CATEGORY</p>
            </div>
        </div>
    </div>
</div>
<!-- Pop up Modal -->
<div id="new-dialog" style="display: none"></div>
<!-- <script type="text/javascript">
// Check the date range, 86400000 is the number of milliseconds in one day
function ValidateOnSaleDate(e) {
    var wf = document.getElementsByName("OnSaleStartDate")[0].value;
    if (wf) {
        if (!/^\d{1,2}\/\d{1,2}\/\d{4}$/.test(wf)) {
            return false;
        }
    }

    var wt = document.getElementsByName("OnSaleEndDate")[0].value;
    if (wt) {
        if (!/^\d{1,2}\/\d{1,2}\/\d{4}$/.test(wt)) {
            return false;
        }
    }

    var from = new Date(wf);
    var to = new Date(wt);

    var diff = (to - from) / (86400000 * 1);
    if (diff < 0) {
        alert("Invalid date range!");
        return false;
    }
}

$(document).ready(function() {
    $.ajaxSetup({
        cache: false
    });

    //$("#cancel").on("click", function (e) {
    //    $("#new-dialog").dialog('close');
    //});

    /* CREATE NEW PRODUCT */
    $("#open-product-dialog").on("click", function(e) {
        e.preventDefault();
        var url = $(this).attr('href');

        $("#new-dialog").dialog({
            title: 'CREATE NEW PRODUCT',
            autoOpen: false,
            resizable: false,
            height: 355,
            width: 400,
            show: {
                effect: 'drop',
                direction: "up"
            },
            modal: true,
            draggable: true,
            closeOnEscape: true,
            open: function(event, ui) {
                $("#new-dialog").empty();
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#new-dialog").dialog('open');

        return false;
    });

    /* CREATE NEW PROPERTY */
    $("#open-property-dialog").on("click", function(e) {
        e.preventDefault();
        var url = $(this).attr('href');

        $("#new-dialog").dialog({
            title: 'CREATE NEW PROPERTY',
            autoOpen: false,
            resizable: false,
            height: 355,
            width: 400,
            show: {
                effect: 'drop',
                direction: "up"
            },
            modal: true,
            draggable: true,
            closeOnEscape: true,
            open: function(event, ui) {
                $("#new-dialog").empty();
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#new-dialog").dialog('open');

        return false;
    });

    /* CREATE NEW USER */
    $("#open-user-dialog").on("click", function(e) {
        e.preventDefault();
        var url = $(this).attr('href');

        $("#new-dialog").dialog({
            title: 'CREATE NEW USER',
            autoOpen: false,
            resizable: false,
            height: 355,
            width: 400,
            show: {
                effect: 'drop',
                direction: "up"
            },
            modal: true,
            draggable: true,
            closeOnEscape: true,
            open: function(event, ui) {
                $("#new-dialog").empty();
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#new-dialog").dialog('open');

        return false;
    });

    /* CREATE NEW CATEGORY */
    $("#open-category-dialog").on("click", function(e) {
        e.preventDefault();
        var url = $(this).attr('href');

        $("#new-dialog").dialog({
            title: 'CREATE NEW CATEGORY',
            autoOpen: false,
            resizable: false,
            height: 355,
            width: 400,
            show: {
                effect: 'drop',
                direction: "up"
            },
            modal: true,
            draggable: true,
            closeOnEscape: true,
            open: function(event, ui) {
                $("#new-dialog").empty();
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#new-dialog").dialog('open');

        return false;
    });

    /*
    $(".editDialog").on("click", function (e) {
        var url = $(this).attr('href');
        $("#dialog-edit").dialog({
            title: 'Edit Customer',
            autoOpen: false,
            resizable: false,
            height: 355,
            width: 400,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog('close');
            }
        });

        $("#dialog-edit").dialog('open');

        return false;

    });
    */

    /*
    $(".confirmDialog").on("click", function (e) {
        var url = $(this).attr('href');
        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-confirm").dialog('open');
        return false;

    });
    */

    /*
    $(".viewDialog").on("click", function (e) {
        var url = $(this).attr('href');
        $("#dialog-view").dialog({
            title: 'View Customer',
            autoOpen: false,
            resizable: false,
            height: 355,
            width: 400,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            },
            close: function (event, ui) {
                $(this).dialog('close');x
            }
        });

        $("#dialog-view").dialog('open');
        return false;
    });
    */

    /*
    $("#btncancel").on("click", function (e) {
        $("#dialog-edit").dialog('close');
    });
    */
});
</script>
 -->
